.hexagon {
  position: relative;
  width: 500px;
  height: 289.68px;
  background: linear-gradient(to top, #fae1d5 0%, #a1ddf9 100%);
  margin: 144px auto;
}
.hexagon::before {
  bottom: 100%;
  border-bottom: 134.34px solid #a1ddf9;
}
.hexagon::after {
  top: 100%;
  border-top: 134.34px solid #fae1d5;
}
.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  z-index: -1;
}

.hexagon-top,
.hexagon-center,
.hexagon-bottom {
  position: relative;
  top: -100px;
}

.hexagon-bottom {
  top: -60px;
}

.search-form {
  padding: 0;
  text-align: center;
}

.btn-outline-light {
  padding: 5px;
  margin: 0;
  border-radius: 10px;
  width: auto;
}

.btn-outline-dark {
  border-radius: 10px;
  padding: 5px;
  margin: 0;
}

h1 {
  color: rgb(56, 54, 54);
  font-family: ui-rounded;
  font-size: 29px;
  padding: 10px;
  width: 100%;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  color: rgb(72, 71, 71);
  font-family: ui-rounded;
  font-size: 28px;
  padding: 10px;
  width: 100%;
  margin: 0;
  text-align: center;
}
h3 {
  color: rgb(129, 125, 125);
  font-family: Courier New, monospace;
  font-size: 25px;
  padding: 0;
  width: 100%;
  margin: 0;
  text-align: center;
}

h4 {
  font-size: 15px;
  font-family: ui-rounded;
  color: rgb(129, 125, 125);
  padding: 0;
  width: 100%;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

.temperature {
  font-size: 49px;
  font-family: ui-rounded;
  padding: 25px 0 28px 0;
  width: 100%;
  margin: 0;
  text-align: center;
}
.units {
  font-size: 15px;
  color: rgb(129, 125, 125);
  position: relative;
  top: -25px;
}

h6 {
  font-size: 62px;
  padding: 0;
  width: 100%;
  margin: 0;
  text-align: center;
}

p {
  font-size: 13px;
  color: rgb(129, 125, 125);
  font-family: ui-rounded;
  padding: 0;
  width: 100%;
  margin: 0;
  text-align: center;
}

.weather-forecast {
  font-size: 20px;
  margin: 0;
  text-align: center;
  color: rgb(72, 71, 71);
}

.weather-forecast-temp {
  font-size: 15px;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}

footer {
  text-align: center;
  color: #f254c8;
  font-size: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  position: absolute;
}
