.hexagon {
  position: relative;
  width: 500px;
  height: 289.68px;
  background: linear-gradient(to top, #fae1d5 0%, #a1ddf9 100%);
  margin: 144px auto;
}
.hexagon::before {
  bottom: 100%;
  border-bottom: 134.34px solid #a1ddf9;
}
.hexagon::after {
  top: 100%;
  border-top: 134.34px solid #fae1d5;
}
.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
}

.search-form {
  position: absolute;
  top: 110px;
  left: 590px;
  padding: 0;
  display: inline-block;
  width: 10%;
  text-align: center;
}

.btn-outline-light {
  position: absolute;
  left: 740px;
  top: 110px;
  padding: 5px;
  margin: 0;
  border-radius: 10px;
  width: auto;
  display: inline;
}

.btn-outline-dark {
  position: absolute;
  left: 652px;
  top: 32px;
  border-radius: 10px;
  padding: 5px;
  margin: 0;
}

h1 {
  color: rgb(56, 54, 54);
  font-family: ui-rounded;
  font-size: 29px;
  position: absolute;
  padding: 20px 270px 28px 18px;
  width: 100%;
  top: 26%;
  left: 18%;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  color: rgb(72, 71, 71);
  font-family: ui-rounded;
  font-size: 28px;
  position: absolute;
  padding: 20px 270px 28px 18px;
  width: 100%;
  top: 26%;
  left: -2%;
  margin: 0;
  text-align: center;
}
h3 {
  color: rgb(129, 125, 125);
  font-family: Courier New, monospace;
  font-size: 25px;
  position: absolute;
  padding: 20px 270px 28px 18px;
  width: 100%;
  top: 32%;
  left: -2%;
  margin: 0;
  text-align: center;
}

h4 {
  position: absolute;
  font-size: 15px;
  font-family: ui-rounded;
  color: rgb(129, 125, 125);
  padding: 25px 255px 28px 18px;
  width: 100%;
  top: 32%;
  left: 19%;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

.temperature {
  font-size: 49px;
  font-family: ui-rounded;
  position: absolute;
  padding: 25px 255px 28px 18px;
  width: 100%;
  top: 39%;
  left: 8%;
  margin: 0;
  text-align: center;
}
.units {
  position: absolute;
  font-size: 15px;
  bottom: 53%;
  left: 52%;
  color: rgb(129, 125, 125);
}

h6 {
  font-size: 62px;
  position: absolute;
  padding: 25px 255px 28px 18px;
  width: 100%;
  top: 24%;
  left: 8%;
  margin: 0;
  text-align: center;
}

p {
  font-size: 13px;
  color: rgb(129, 125, 125);
  font-family: ui-rounded;
  position: absolute;
  padding: 25px 255px 28px 18px;
  width: 100%;
  top: 39%;
  left: 19%;
  margin: 0;
  text-align: center;
}

.weather-forecast {
  position: absolute;
  bottom: 27%;
  left: 41%;
  margin: 0;
  text-align: center;
  color: #000;
}

.weather-forecast-temp {
  font-size: 13px;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}

footer {
  text-align: center;
  color: #f254c8;
  font-size: 10px;
  left: 48.2%;
  bottom: 20px;
  position: absolute;
}
